.player, .computer, .draw {
    position: absolute;
    height: 100vh;
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;

    h2 {
        writing-mode: vertical-rl;
        text-orientation: upright;
        text-align: center;
        font-size: 47px;
    }
}

.player {
    left: 0;
    background-color: #00B300;
    border-right: 3px solid black;
}

.computer {
    right: 0;
    background-color: #E60000;
    border-left: 3px solid black;
}

.draw {
    background-color: #8C8C8C;
    margin-left: auto;
    margin-right: auto;
    border-left: 3px solid black;
    border-right: 3px solid black;
    left: 0;
    right: 0;
}