.cards {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;

    .cardCount {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 65%;
        display: flex;
        justify-content: space-between;
        
        h2 {
            height: 60px;
            width: 60px;
            text-align: center;
            margin-top: 10px;
            border: 5px solid black;
            border-radius: 50%;
            font-size: 35px;
            background-color: yellow;
        }
    }

    .firstDeck, .secondDeck {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .firstDeck {
        padding-left: 15%;
    }

    .secondDeck {
        padding-right: 15%;
    }
}