.titleBackground {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #A0522D;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .titleContainer {
        width: 100%;
        height: 85vh;
        border-top: #BC8F8F solid 10px;
        border-bottom: #BC8F8F solid 10px;
        background-color: #DEB887;
        display: flex;
        align-items: center;
        justify-content: center;

        .titleEffect {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-top: -70px;
            padding: 10% 20% 11%;
            background: radial-gradient(#FFEBCD 30%, #DEB887 70%);

            h1 {
                display: inline;
                font-size: 120px;
                text-align: center;
                text-decoration: underline;
                text-shadow: 3px 5px 2px rgba(0, 0, 0, 0.76);
                color: chocolate;
                padding: 0 30px;
            }

            .playBtn {
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 0;
                margin-bottom: 11%;
                height: 100px;
                width: 100px;
                font-size: 30px;
                background-color: rgb(218, 218, 218);
                border: 2px solid rgb(228, 228, 228);
                border-radius: 15px;
                box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
                cursor: pointer;
                animation: spring 500ms 1;
                outline: none;
                
                @keyframes spring {
                    from {
                    transform: scale(.95);
                    }
                
                    50% {
                    transform: scale(1.15);
                    }
                
                    to {
                    transform: scale(1);
                    }
                }
                
                &:hover {
                    animation: push 500ms 1;
                    box-shadow: inset 0px 0px 10px -2px rgba(0, 0, 0, 0.6);
                    border: none;
                    transform: scale(.95);
                    color: white;
                
                    @keyframes push {
                        50% {
                            transform: scale(.9);
                        }
                    
                        100% {
                            transform: scale(.95);
                        }
                    }
                }
            }
        }
    }
}