.optionDisplay {
    position: absolute;
    top: 0;
    width: 485px;
    font-size: 44px;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.playerSide {
    left: 0;
    margin-left: 16%;
}

.opponentSide {
    right: 0;
    margin-right: 16%;
}