.decks {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ECFAFA;

    .firstDeck, .secondDeck {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
    }

    .firstDeck {
        padding-left: 15%;

        &.blockPlayer {
            pointer-events: none;
        }
    }

    .secondDeck {
        padding-right: 15%;
        pointer-events: none;
    }
}