.card {
    height: 725px;
    width: 485px;
    border-radius: 25px;
    background-color: #ffecc0;
    text-align: center;
    position: absolute;
    transition: transform 0.3s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.flipCard {
        transform: rotateY(-180deg);
    }

    .front {
        @extend .card;
        padding: 25px;
        border: 2px solid black;
        box-shadow: 3px 3px 5px rgba(49, 49, 49, 0.5);
    }

    .back {
        @extend .card;
        transform: rotateY(180deg);
        padding: 25px;
        border: 2px solid black;
        box-shadow: 3px 3px 5px rgba(49, 49, 49, 0.4);
    }
}